@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --backgound-dark-color: #424242;
  --lightred-color: #ffaf9b;
  --darkred-color: #df5333;
  --lightmode-color: #f7f0e9;
  --logo-font-family: "Pacifico", cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  background-color: var(--backgound-dark-color);
}
